[user]
	name = Kunal M.A.
	email = 311509726+kunal-ma@users.noreply.github.com
	username = kunal-ma
[init]
	defaultBranch = main
[core]
	autocrlf = true
	fscache = true
	symlinks = false
	editor = code --wait
	pager = 
	excludesFile = E:\\GitHub\\.gitignore
[color]
	interactive = true
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[pull]
	rebase = false
[credential]
	helper = manager
[fetch]
    prune = true
[alias]
    logs = log -p --stat --pretty=fuller
    graph = log --oneline --graph --all --decorate
